@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

html,
body { width:100%}

body {
    margin: 0;
    font-family: "Source Sans Pro",Arial,Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    color: #0d0d0d;
}

.navBar {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-size:1.25rem;
}
.navBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(164, 219, 227);
  color: rgb(40, 39, 45);
  overflow: hidden;
}

.navBar li{
    float:left;
}

.navBar li a {
    display:block;
    text-align: center;
    padding: 12px 10px;
    text-decoration:none;
}
.navList {
    width: 100%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size:1.25rem;
    text-decoration:none;
}

.content header {
    font-size: 3rem;
}
.content{
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1.2rem;
    float:none;
}

.link {
    font-size:1.5rem;
    padding:14px 16px;
}

#libServ {
    font-size:1rem;
}
#libServ img{
    height:auto;
    width:35rem;
}

#TLeqn {
    border: 2px;
    background-color: lightgray;
    padding: 1rem;
    overflow:hidden;
}

.TLlist li{
    padding:5px;
}
.TLlist .ignore{
    list-style-type: none;
}

aside {
    float:right;
    background-color: rgb(164, 219, 227);
    width: 30%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
}

aside > h3{
    margin:0.6rem;
}
aside > p {
    margin:0.5rem;
}